<!-- start custom footer snippets -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3575314344745258"
     crossorigin="anonymous"></script>
<!-- Quảng cáo theo hình ảnh -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-3575314344745258"
     data-ad-slot="8784083749"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

<script>
// Define dataLayer and the gtag function.
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}

// Set default consent to 'denied' as a placeholder
// Determine actual values based on your own requirements
gtag('consent', 'default', {
    'ad_storage': 'denied',
    'ad_user_data': 'denied',
    'ad_personalization': 'denied',
    'analytics_storage': 'denied'
});
</script>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-VDPE1ENM1N">
</script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}

    gtag('js', new Date());
    gtag('config', 'G-VDPE1ENM1N');
</script>

<!-- Create one update function for each consent parameter -->
<script>
    function consentGrantedAdStorage() {
    gtag('consent', 'update', {
        'ad_storage': 'granted'
    });
    }
</script>
<!-- Invoke your consent functions when a user interacts with your banner -->
<body>
    ...
    <button onclick="consentGrantedAdStorage">Yes</button>
    ...
</body>
<!-- end custom footer snippets -->