<!-- start custom footer snippets -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3575314344745258"
     crossorigin="anonymous"></script>
<!-- Quảng cáo theo hình ảnh -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-3575314344745258"
     data-ad-slot="8784083749"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<!-- end custom footer snippets -->